@using Auction_Prop_Sellers.Models.DataViewModels

@model Sellers
@{
    ViewBag.Title = "Dashboard.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>Sellers Dashboard</h1>
    <p class="lead">Welcome @Model.FirtstName to youre dashboard.</p>
    <p></p>
</div>

<h2>propertylist</h2>

<p>
    @Html.ActionLink("Create New", "AddPropertyStyled")
    @Html.ActionLink("Create New", "CreateProperty")
</p>
@while (Model != null)
{
    IEnumerable<Property> p = Model.Properties;
    <table class="table">
        <tr>

            <th>
                Address
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>
                Value
            </th>
            <th>
                Minimum bid
            </th>
            <th>
                Reserve
            </th>
            <th>
                Plans
            </th>
            <th>
                Taxes and rates
            </th>
            <th>
                Title deed
            </th>
            <th>
                Approval
            </th>
            <th>
                Signiture
            </th>
            <th>
                Pictures
            </th>
            <th></th>
        </tr>

        @foreach (var item in p)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrpertyValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimubBid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserve)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlansPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxesAndRates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleDeedPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalStatus)
                </td>
                <td>
                    <div>
                        <img src="" alt="" />
                    </div>
                    @Html.ActionLink("Add a Photo", "AddPhoto", new { id = item.PropertyID })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PropertyID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PropertyID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PropertyID })
                </td>
            </tr>
        }


    </table>
    break;
}
