@using Auction_Prop_Sellers.Models.DataViewModels

@model Seller
@{
    ViewBag.Title = "Dashboard.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>Sellers Dashboard</h1>
    <p class="lead">Welcome @Model.FirtstName to youre dashboard.</p>
    <p></p>
</div>

<h2>Here is youre Listed Properties.</h2>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
@Html.ActionLink("New Property","CreateProperty")

@while (Model != null)
{
    <div class="container">
        <div class="row" style="height:300px">

            @foreach (Property prop in Model.Properties)
            {
                <div class="col-md-3 col-sm-6" style=" padding:15px">
                    <div class="product-grid">
                        <div class="product-image" style="min-height:200px">
                            <a href="#">
                                @{
                                    int i = 1;



                                    foreach (PropertyPhoto pp in prop.PropertyPhotos)
                                    {

                                    string pic = "pic-";
                                        if (i <= 2)
                                        {
                                            pic += i.ToString();
                                            <img class=@pic src=@pp.PropertyPhotoPath>
                                            i++;
                                        }
                                    }





                                }

                            </a>
                            <ul class="social">
                                <li><a href="" data-tip="Go To Photo Gallary"><i class="fa fa-shopping-bag"></i></a></li>

                                <li><a href="" data-tip="Add Photo"><i class="fa fa-shopping-bag"></i></a></li>
                            </ul>
                            <span class="product-new-label" style="background-color:darkorange">@prop.Title</span>
                            @if (prop.ApprovalStatus)
                            {

                                <span class="product-discount-label" style="background-color:green">Approved</span>
                            }
                            else
                            {

                                <span class="product-discount-label" style="background-color:red">Not Approved</span>
                            }
                        </div>
                       
                        <div class="product-content">
                            <h3 class="title"><a href="#">City: @prop.City</a></h3>
                            <h4 class="title"><a href="#">Address: @prop.Address</a></h4>
                            <h4 class="title"><a href="#">Property Type: @prop.PropertyType</a></h4>
                            <div class="price">
                                Opening Bid: R @prop.OpeningBid
                            </div>


                            <div class="universal-button">
                                @Html.ActionLink("Add a Promo Video", "AddPromoVideo", new { id = prop.PropertyID }) 

                            </div>

                            <div class="universal-button">
                                @Html.ActionLink("Add a Photo", "AddPhoto", new { id = prop.PropertyID })

                            </div> 

                            @Html.ActionLink("Edit", "Edit", new { id = prop.PropertyID }) |
                            @Html.ActionLink("Details", "Details", new { id = prop.PropertyID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = prop.PropertyID })
                        </div>
                    </div>
                </div>
            }

           
        </div>
    </div>

    
    break;
}
















