@using Auction_Prop_Buyers.Models.DisplayMadels
@model RegisteredBuyer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>RegisteredBuyer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BondedOrCash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BondedOrCash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProofOfResidencePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProofOfResidencePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopyOfIDPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopyOfIDPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePhotoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilePhotoPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signiture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signiture)
        </dd>

    </dl>
</div>
@if (Model.AuctionRegistrations.Count == 0)
{
    <h1>
        You are registerred as a buyer.
    </h1>


}
else if (Model.AuctionRegistrations != null)
{
    <h2>You are regesterd for the folowing auctions</h2>
    foreach (AuctionRegistration Auc in Model.AuctionRegistrations)
    {
        <div class="property-image">

        </div>
        <h2>
            @Auc.Property.Title
        </h2>
        <h3>
            @Auc.Property.Address
        </h3>

        <img alt="" src=@Auc.Property.PropertyPhotos.First()>
        if (Auc.AdminFee == null && Auc.RegisteredBuyer.Deposit.Paid)
        {
            @Html.Partial("~/Views/PaymentGate/PayAdmin.cshtml", Auc)
        }
        else if (Auc.AdminFee != null && !Auc.RegisteredBuyer.Deposit.Paid)
        {
            @Html.Partial("~/Views/PaymentGate/PayDeposit.cshtml", Auc)
        }
        else if (Auc.AdminFee == null && !Auc.RegisteredBuyer.Deposit.Paid)
        {
            @Html.Partial("~/Views/PaymentGate/_PayDeposiAndAdminFees.cshtml", Auc)
        }
        if (Auc.RegisteredBuyer.BondedOrCash)
        {

            @Html.ActionLink("Submit youre banks pe approvals", "AddBankGuarintee")
        }
        @Html.ActionLink("Register for this Auction", "RegisterForAuction")
    }
   
}

<p>
    @Html.ActionLink("Click here to go back to Property listings", "Properties", "home")
</p>
