@using Auction_Prop_Buyers.Models.DisplayMadels
@using Microsoft.AspNet.Identity;

@using AutoMapper;
@model RegisteredBuyer


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Auction-Prop | Properties</title>

    <!-- ====== Favicons ====== -->
    <link href="~/assets/img/fat.png" rel="icon">

    <!-- ====== Google Fonts ====== -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef4e2c1ac6.js" crossorigin="anonymous"></script>

    <!-- ====== Vendor CSS Files ====== -->
    <link rel="stylesheet" href="~/Content2/bootstrap1.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/animate.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.css" type="text/css">

    <!-- ====== Template Main CSS File ====== -->
    <link href="~/assets/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- ======= Property Search Section Start ======= -->
    <div class="click-closed"></div>

    <div class="box-collapse">
        <div class="title-box-d">
            <h3 class="title-d">Property Search</h3>
        </div>
        <span class="close-box-collapse right-boxed fa fa-chevron-circle-right"></span>
        <div class="box-collapse-wrap form">
            <form class="form-a">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label for="Type">Keyword</label>
                            <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="Type">Type</label>
                            <select class="form-control form-control-lg form-control-a" id="Type">
                                <option>All Types</option>
                                <option>Residential</option>
                                <option>Commercial</option>
                                <option>Agricultural</option>
                                <option>Investment</option>
                                <option>Bank Instruction</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="city">City</label>
                            <select class="form-control form-control-lg form-control-a" id="city">
                                <option>All City's</option>
                                <option>Johannesburg</option>
                                <option>Pretoria</option>
                                <option>Durban</option>
                                <option>Cape Town</option>
                                <option>Nelspruit</option>
                                <option>Polokwane</option>
                                <option>East London</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bedrooms">Bedrooms</label>
                            <select class="form-control form-control-lg form-control-a" id="bedrooms">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="garages">Garages</label>
                            <select class="form-control form-control-lg form-control-a" id="garages">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bathrooms">Bathrooms</label>
                            <select class="form-control form-control-lg form-control-a" id="bathrooms">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">Search Property</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ======= Property Search Section End ======= -->
    <!-- ======= Intro and Breadcrumb Section Start ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Your Profile</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                User Profile
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Intro and Breadcrumb Section End ======= -->

    @if (Request.IsAuthenticated)
    {
        RegisteredBuyer mod = new RegisteredBuyer();


        try
        {
            mod = APILibrary.APIMethods.APIGet<RegisteredBuyer>(User.Identity.GetUserId(), "RegisteredBuyers");

        }
        catch
        {

            mod = null;


        }


        if (mod == null)
        {
            <h3>
                You are not yet registered as a buyer
            </h3>
            @Html.ActionLink("Click here to register and qualify to bid on this Auction", "create", "Buyers")
        }
        else if (mod.BuyerAddresses.Count == 0)
        {
            <h3>
                In order to complete your registration, you need to submit at least one address
            </h3>
            @Html.ActionLink("Click here to enter your address", "CreateAddress", "Buyers")
        }
        else
        {
            if (mod.AuctionRegistrations.Count > 0)
            {
                bool registered = false;
                bool bankG = false;
                bool guarintees = false;
                foreach (AuctionRegistration reg in mod.AuctionRegistrations)
                {

                    <div class="col-md-4">
                        <div>
                            <div class="img-box-a" style="max-width:100%; height:350px">
                                <img src=@reg.Property.PropertyPhotos.First().PropertyPhotoPath alt="" class="img-a img-fluid" style="max-width:100%; height:350px">
                            </div>
                            <div class="card-box-a card-shadow" href='@Url.Action("Detailss", "home", new { id = reg.PropertyID })'>
                                @{
                                    if (reg.Bonded)
                                    {
                                        try
                                        {
                                            if (reg.BankApproval == null)
                                            {
                                                throw new Exception();
                                            }
                                            else
                                            {
                                                bankG = true;
                                            }
                                        }
                                        catch
                                        {

                                            <h3>
                                                Please submit your bank gaurantees
                                            </h3>
                                            <p>

                                                For any assistance in attaining a bond, please contact one of our bond originators:  admin@infinitymortgagefinance.co.za
                                            </p>
                                            @Html.ActionLink("Click here to submit your Pre-Approval documents", "AdPreApproval", "Buyers", new { id = reg.id }, null)
                                        }
                                    }
                                    else
                                    {
                                        try
                                        {
                                            if (reg.Guarintee == null)
                                            {
                                                throw new Exception();
                                            }
                                            else
                                            {
                                                guarintees = true;
                                            }
                                        }
                                        catch
                                        {

                                            <h3>
                                                Please submit your Pre-Approval documents
                                            </h3>
                                            <p>

                                                For any assistance please contact one of our bond originators:  admin@infinitymortgagefinance.co.za
                                            </p>
                                            @Html.ActionLink("Click here to Submit your Bank Gaurantees", "AdPreApproval", "Buyers", new { id = reg.id }, null)
                                        }
                                    }
                                    registered = true;
                                    if (guarintees || bankG)
                                    {
                                        try
                                        {
                                            <h3>Congratulations</h3>
                                            <p>You are now Registered to bid on this Auction</p>
                                            if (reg.Property.Auction.StartTime >= DateTime.Now)
                                            {
                                                <p>This Auction Starts At @reg.Property.Auction.StartTime</p>
                                            }
                                            else if (reg.Property.Auction.StartTime <= DateTime.Now && DateTime.Now <= reg.Property.Auction.EndTime)
                                            {
                                                @Html.ActionLink("Click Here to go to Auction", "Index", "AuctionRoom", new { id = reg.Property.Auction.StartTime }, null)
                                            }
                                            else
                                            {

                                                <p>This auction ended at @reg.Property.Auction.EndTime</p>
                                            }



                                        }
                                        catch
                                        {


                                            <p>This Property is not yet scheduled for Auction</p>
                                        }
                                    }
                                }

                            </div>
                        </div>
                    </div>



                }
                if (registered == false)
                {
                    <h3>
                        You need to Register for each Property that you want to bid on
                    </h3>

                }

            }
            else
            {
                <h3>
                    You need to register for each Property that you want to bid on
                </h3>

            }

        }
    }

    else
    {
        <h5>You have to Sign Up or Login with Auction-Prop before you can Register for any Auction</h5>
        <button onclick="@Html.ActionLink("Sign up | Log in","Register","Account")" />
    }

    <div style="width:100%; text-align:center">
    @Html.ActionLink("Go to Properties", "Properties", "Home", new { area = "" }, new { @class = "btn btn-b" })
    </div>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <!-- ====== Vendor JS Files ====== -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/validate.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/scrollreveal.min.js"></script>

    <!-- ====== Template Main JS File ====== -->
    <script src="~/Scripts/main.js"></script>
</body>
</html>