
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
@*
    @Styles.Render("~/Content/Bootstrap.css")
    @Styles.Render("~/Content/StylesOne.css")
    @Styles.Render("~/Content/bootstrap-select.min.css")
    @Styles.Render("~/Content/magnific-popup.css")
    @Styles.Render("~/Content/owl.carousel.css")
    @Styles.Render("~/Content/owl.transitions.css")
    @Styles.Render("~/Content/jquery.slider.min.css")
    @Scripts.Render("~/Scripts/bootstrap-select.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/custom.js")
    @Scripts.Render("~/jquery-2.1.0.min.js")
    @Scripts.Render("~/Scripts/jquery.countTo.js")
*@

<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/ef4e2c1ac6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/jquery.slider.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/owl.transitions.css" type="text/css">
    <link rel="stylesheet" href="~/Content/StyleSheet1.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>Auction-Prop | This Is Us</title>

</head>

<body class="page-sub-page page-listing page-grid page-search-results" id="page-top">

    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">This Is Us</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- About Us -->
                <div class="col-md-12 col-sm-12">
                    <section id="about-us">
                        <header><h1>About Us</h1></header>
                        <section id="ceo-section" class="center">
                            <header class="center"><div class="cite-title">Serving you since 2016</div></header>
                            <div class="cite no-bottom-margin">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dolor purus,
                                porta eget justo et, pulvinar vehicula dolor.  Sed at turpis at augue convallis auctor ut in mi
                            </div>
                            <hr class="divider">
                            <a href="agent-detail.html" class="image"><img alt="" src="assets/img/agent-01.jpg"></a>
                            <a href="agent-detail.html"><h3>John Doe</h3></a>
                            <figure class="subtitle">Company CEO</figure>
                            <div class="background-image"><img alt="" src="assets/img/about-us-bg.jpg"></div>
                        </section><!-- /#ceo-section -->
                        <div class="divider-image center"><img alt="" src="assets/img/sine-wave.png"></div>
                        <section id="our-team">
                            <header class="center"><h2 class="no-border">Our Team</h2></header>
                            <div class="row">
                                <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5">
                                    <div class="member">
                                        <a href="agent-detail.html" class="image"><img alt="" src="assets/img/client-01.jpg"></a>
                                        <div class="tag">Top Agent</div>
                                        <div class="wrapper">
                                            <a href="agent-detail.html"><h3>Carolyn Sloan</h3></a>
                                            <figure class="subtitle">Agent</figure>
                                            <dl>
                                                <dt>Phone:</dt>
                                                <dd>(123) 456 789</dd>
                                                <dt>Email:</dt>
                                                <dd><a href="mailto:#">john.doe@example.com</a></dd>
                                                <dt>Skype:</dt>
                                                <dd>john.doe</dd>
                                            </dl>
                                        </div>
                                    </div><!-- /.member -->
                                </div><!-- /.col-md-5 -->
                                <div class="col-md-5 col-sm-5">
                                    <div class="member">
                                        <a href="agent-detail.html" class="image"><img alt="" src="assets/img/member-01.jpg"></a>
                                        <div class="wrapper">
                                            <a href="agent-detail.html"><h3>Erika Green</h3></a>
                                            <figure class="subtitle">Support</figure>
                                            <dl>
                                                <dt>Phone:</dt>
                                                <dd>(123) 456 789</dd>
                                                <dt>Email:</dt>
                                                <dd><a href="mailto:#">john.doe@example.com</a></dd>
                                                <dt>Skype:</dt>
                                                <dd>john.doe</dd>
                                            </dl>
                                        </div>
                                    </div><!-- /.member -->
                                </div><!-- /.col-md-5 -->
                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="member">
                                        <a href="agent-detail.html" class="image"><img alt="" src="assets/img/member-02.jpg"></a>
                                        <div class="wrapper">
                                            <a href="agent-detail.html"><h3>Mary A. Parrish</h3></a>
                                            <figure class="subtitle">Agent</figure>
                                            <dl>
                                                <dt>Phone:</dt>
                                                <dd>(123) 456 789</dd>
                                                <dt>Email:</dt>
                                                <dd><a href="mailto:#">john.doe@example.com</a></dd>
                                                <dt>Skype:</dt>
                                                <dd>john.doe</dd>
                                            </dl>
                                        </div>
                                    </div><!-- /.member -->
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="member">
                                        <a href="agent-detail.html" class="image"><img alt="" src="assets/img/member-03.jpg"></a>
                                        <div class="wrapper">
                                            <a href="agent-detail.html"><h3>Russell G. Nowicki</h3></a>
                                            <figure class="subtitle">Agent</figure>
                                            <dl>
                                                <dt>Phone:</dt>
                                                <dd>(123) 456 789</dd>
                                                <dt>Email:</dt>
                                                <dd><a href="mailto:#">john.doe@example.com</a></dd>
                                                <dt>Skype:</dt>
                                                <dd>john.doe</dd>
                                            </dl>
                                        </div>
                                    </div><!-- /.member -->
                                </div><!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="member">
                                        <a href="agent-detail.html" class="image"><img alt="" src="assets/img/member-04.jpg"></a>
                                        <div class="wrapper">
                                            <a href="agent-detail.html"><h3>Kristine Hicks</h3></a>
                                            <figure class="subtitle">Agent</figure>
                                            <dl>
                                                <dt>Phone:</dt>
                                                <dd>(123) 456 789</dd>
                                                <dt>Email:</dt>
                                                <dd><a href="mailto:#">john.doe@example.com</a></dd>
                                                <dt>Skype:</dt>
                                                <dd>john.doe</dd>
                                            </dl>
                                        </div>
                                    </div><!-- /.member -->
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.row -->
                        </section><!-- /#our-tem -->

                        <section id="fun-facts" class="block counting-numbers">
                            <header class="center"><h2 class="no-border">Fun Facts</h2></header>
                            <div class="row">
                                <div class="fun-facts">
                                    <div class="col-md-3">
                                        <div class="number-wrapper">
                                            <div class="number" data-from="1" data-to="136">136</div>
                                            <figure>Properties Listed</figure>
                                        </div><!-- /.number-wrapper -->
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-3">
                                        <div class="number-wrapper">
                                            <div class="number" data-from="1" data-to="2145">2145</div>
                                            <figure>Satisfied Clients</figure>
                                        </div><!-- /.number-wrapper -->
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-3">
                                        <div class="number-wrapper">
                                            <div class="number" data-from="1" data-to="468">468</div>
                                            <figure>Properties Sold</figure>
                                        </div><!-- /.number-wrapper -->
                                    </div><!-- /.col-md-3 -->
                                    <div class="col-md-3">
                                        <div class="number-wrapper">
                                            <div class="number" data-from="1" data-to="5475">5475</div>
                                            <figure>Days we are here</figure>
                                        </div><!-- /.number-wrapper -->
                                    </div><!-- /.col-md-3 -->
                                </div><!-- /.fun-facts -->
                            </div><!-- /.row -->
                        </section><!-- /#fun-facts -->

                    </section><!-- /#about-us -->
                </div><!-- /.col-md-12 -->
                <!-- end About Us -->
                <!-- Sidebar goes here -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <script type="text/javascript" src="~/Scripts2/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/smoothscroll.js"></script>
    <script type="text/javascript" src="~/Scripts2/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/Scripts2/icheck.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.vanillabox-0.1.5.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jshashtable-2.1_src.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.numberformatter-1.2.3.js"></script>
    <script type="text/javascript" src="~/Scripts2/tmpl.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.dependClass-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts2/draggable-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.slider.js"></script>
    <script type="text/javascript" src="~/Scripts2/custom.js"></script>

</body>
</html>
