
@{
    ViewBag.Title = "Buyers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    @Styles.Render("~/Content2/Bootstrap1.css")
    @Styles.Render("~/Content2/Style.css")
    @Styles.Render("~/Content2/bootstrap-select.min.css")
    @Styles.Render("~/Content2/magnific-popup.css")
    @Scripts.Render("~/Scripts2/bootstrap-select.min.js")
    @Scripts.Render("~/Scripts2/bootstrap.min.js")
    @Scripts.Render("~/Scripts2/custom.js")
    @Scripts.Render("~/Scripts2/jquery-2.1.0.min.js")
*@

<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/ef4e2c1ac6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/jquery.slider.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/owl.transitions.css" type="text/css">
    <link rel="stylesheet" href="~/Content/StyleSheet1.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>Auction-Prop.com | Buyers Guide</title>

</head>

<body class="page-sub-page page-legal" id="page-top">
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Buyers Guide</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- Content -->
                <div class="col-md-9 col-sm-9">
                    <section id="content">
                        <header><h1>Buyers Guide</h1></header>
                        <section id="legal">
                            <section>
                                <h3>Account</h3>
                                <p>Every potential buyer needs to create an account to be able to register for the specific property. This will ensure the safety of all parties involved and all the necessary FICA requirements will be met.</p>
                            </section>
                            <section>
                                <h3>Registration</h3>
                                <p>If you’re interested to bid on one of our current properties that are listed, you’ll need to register to bid for the specific property you are interested in, as well as paying the R 5,050 bidders deposit. This will ensure that there is a foundation of trust between both the seller and buyer. The information provided by both the seller and buyer will serve as security for both parties The process is straight forward and the process involves the buyer to provide his/her proof of identification, proof of residence as well as a bidding deposit to be determined according to the value of the property and if successful will bind all parties to complete the sale. After registration, there will be specialist brokers available to answer any questions to the registered property as well as viewings leading up to the Auction.</p>
                            </section>
                            <section>
                                <h3>Bidding</h3>
                                <p>The bidding process can be broken up in the following steps:</p>
                                <p>1. <strong>Account & Registration</strong> – Open an account <a href="#">(here)</a> and complete individual registration via email received. </p>
                                <p>2. <strong>Registration (Property)</strong> – Once bidding opens, all registered bidders are free to place bids on their chosen properties <a href="#">(listings)</a>. Although bidding on all properties will open at the same time, each lot will have a different closing time – make sure to check the opening and closing times on your chosen properties so you’re ready to go on the day. Automatic bids can be made earlier.</p>
                                <p>3. <strong>Deposit</strong> – a <u>R 5,050 Bidding deposit</u> must be made by each Bidder to Auction-Prop and would be refunded if a bid is unsuccessful.</p>
                                <p>4. <strong>Open Viewings</strong> – Each property that is listed can also be viewed two weeks prior to the bidding date.</p>
                                <p>5. <strong>Bidding</strong> – Every listed property has a reserve price, this is the lowest price the seller is willing to accept. This will not necessarily be the opening bid. Terms and conditions can be seen on our</p>
                            </section>
                            <section>
                                <h3>Automatic and Manual Bidding</h3>
                                <p>Bids can me made manually or automatically. In the case you cannot make the bid on the day of the auction, you can set a Maximum Bid.  The computer will enter bids for you up to the maximum amount that you specified on.  No one will see your maximum bid until the amount is reached. </p>
                            </section>
                            <section>
                                <h3>Bidding Cut of Times</h3>
                                <p>Every lot has a separate cut of time. After every highest bid, there is a window of opportunity of 90 seconds to make a final bid. This is an extension that gives everyone their last change to place an additional counter-bid. This will continue until a full 90 seconds has passed. </p>
                            </section>
                            <section>
                                <h3>Due Diligence</h3>
                                <p>It is important to familiarize yourself with the Rules of the auction and the Conditions of sale as part of the process as our digital sales are unconditional – once a property is sold on the Auction-Prop platform, a legal contract has been formed and the successful bidder is legally obliged to complete the purchase.</p>
                                <p>The sale process is fully transparent: all bids are logged and displayed on the property page in real-time, and you’ll know exactly what’s happening at all times. There’s no need to worry about privacy though – bidders are only identified by a number.</p>
                            </section>
                        </section>
                    </section><!-- /#agent-detail -->
                </div><!-- /.col-md-9 -->
                <!-- end Content -->
                <!-- sidebar -->
                <div class="col-md-3 col-sm-3">
                    <section id="sidebar">
                        <aside id="edit-search">
                            <header><h3>Search Properties</h3></header>
                            <form role="form" id="form-sidebar" class="form-search" action="properties-listing.html">
                                <div class="form-group">
                                    <select name="type">
                                        <option value="">Status</option>
                                        <option value="1">Auction</option>
                                        <option value="2">For Sale</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="country">
                                        <option value="">Country</option>
                                        <option value="1">South Africa</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="city">
                                        <option value="">City</option>
                                        <option value="1">Johannesburg</option>
                                        <option value="2">Pretoria</option>
                                        <option value="3">Cape Town</option>
                                        <option value="4">Durban</option>
                                        <option value="5">Nelspruit</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="district">
                                        <option value="">Province</option>
                                        <option value="1">Gauteng</option>
                                        <option value="2">Free State</option>
                                        <option value="3">Mpumalanga</option>
                                        <option value="4">Limpopo</option>
                                        <option value="5">North West</option>
                                        <option value="6">Kwazulu Natal</option>
                                        <option value="7">Western Cape</option>
                                        <option value="8">Northern Cape</option>
                                        <option value="9">Eastern Cape</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="property-type">
                                        <option value="">Property Type</option>
                                        <option value="1">Residential</option>
                                        <option value="2">Commercial</option>
                                        <option value="3">Agricultural</option>
                                        <option value="4">Investment</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Search Now</button>
                                </div><!-- /.form-group -->
                            </form><!-- /#form-map -->
                        </aside><!-- /#edit-search -->
                        <aside id="featured-properties">
                            <header><h3>Featured Properties</h3></header>
                            <div class="property small">
                                <a href="property-detail.html">
                                    <div class="property-image">
                                        <img alt="" src="~/img/properties/property-04.jpg">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="property-detail.html"><h4>218 Rinehart Road</h4></a>
                                    <figure>Olivedale, Johannesburg </figure>
                                    <div class="tag price">15 May at 14:00</div>
                                </div>
                            </div><!-- /.property -->
                            <div class="property small">
                                <a href="property-detail.html">
                                    <div class="property-image">
                                        <img alt="" src="~/img/properties/property-04.jpg">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="property-detail.html"><h4>249 Murphy Court</h4></a>
                                    <figure>Sandhurst, Johannesburg</figure>
                                    <div class="tag price">22 June at 14:00</div>
                                </div>
                            </div><!-- /.property -->
                            <div class="property small">
                                <a href="property-detail.html">
                                    <div class="property-image">
                                        <img alt="" src="~/img/properties/property-04.jpg">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="property-detail.html"><h4>194 Tennessee Avenue</h4></a>
                                    <figure>Faerie Glen, Pretoria</figure>
                                    <div class="tag price">22 June at 15:00</div>
                                </div>
                            </div><!-- /.property -->
                        </aside><!-- /#featured-properties -->
                        <aside id="our-guides">
                            <header><h3>Our Guides</h3></header>
                            <a href="Buyers Guide.html" class="universal-button">
                                <figure class="fa fa-home"></figure>
                                <span>Buyers Guide</span>
                                <span class="arrow fa fa-angle-right"></span>
                            </a><!-- /.universal-button -->
                            <a href="Sellers Guide.html" class="universal-button">
                                <figure class="fa fa-home"></figure>
                                <span>Sellers Guide</span>
                                <span class="arrow fa fa-angle-right"></span>
                            </a><!-- /.universal-button -->
                        </aside><!-- /#our-guide -->
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <script type="text/javascript" src="~/Scripts2/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/smoothscroll.js"></script>
    <script type="text/javascript" src="~/Scripts2/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/Scripts2/icheck.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.vanillabox-0.1.5.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts2/jshashtable-2.1_src.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.numberformatter-1.2.3.js"></script>
    <script type="text/javascript" src="~/Scripts2/tmpl.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.dependClass-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts2/draggable-0.1.js"></script>
    <script type="text/javascript" src="~/Scripts2/jquery.slider.js"></script>
    <script type="text/javascript" src="~/Scripts2/custom.js"></script>

</body>
</html>



