@using Auction_Prop_Buyers.Models.DisplayMadels
@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef4e2c1ac6.js" crossorigin="anonymous"></script>

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="~/Content2/bootstrap1.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/animate.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content2/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.css" type="text/css">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">


    <title>Auction-Prop.com | Home</title>

</head>
<body>

    <!-- ======= Property Search Section ======= -->
    <div class="click-closed"></div>
    <!--/ Form Search Star /-->
    <div class="box-collapse">
        <div class="title-box-d">
            <h3 class="title-d">Search Property</h3>
        </div>
        <span class="close-box-collapse right-boxed ion-ios-close"></span>
        <div class="box-collapse-wrap form">
            <form class="form-a">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label for="Type">Keyword</label>
                            <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="Type">Type</label>
                            <select class="form-control form-control-lg form-control-a" id="Type">
                                <option>All Types</option>
                                <option>Residential</option>
                                <option>Commercial</option>
                                <option>Agricultural</option>
                                <option>Investment</option>
                                <option>Bank Instrution</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="city">City</label>
                            <select class="form-control form-control-lg form-control-a" id="city">
                                <option>All City's</option>
                                <option>Johannesburg</option>
                                <option>Pretoria</option>
                                <option>Durban</option>
                                <option>Cape Town</option>
                                <option>Nelspruit</option>
                                <option>Polokwane</option>
                                <option>East London</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bedrooms">Bedrooms</label>
                            <select class="form-control form-control-lg form-control-a" id="bedrooms">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="garages">Garages</label>
                            <select class="form-control form-control-lg form-control-a" id="garages">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="bathrooms">Bathrooms</label>
                            <select class="form-control form-control-lg form-control-a" id="bathrooms">
                                <option>Any</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">Search Property</button>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- End Property Search Section -->
    <!-- ======= Intro Section ======= -->
    <div class="intro intro-carousel">
        <div id="carousel" class="owl-carousel owl-theme">
            <div class="carousel-item-a intro-item bg-image" style="background-image: url(~/img/glass.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">
                                            Doral, Florida
                                            <br> 78345
                                        </p>
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b">204 </span> Mount
                                            <br> Olive Road Two
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-a intro-item bg-image" style="background-image: url(~/assets/img/slide-2.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">
                                            Doral, Florida
                                            <br> 78345
                                        </p>
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b">204 </span> Rino
                                            <br> Venda Road Five
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item-a intro-item bg-image" style="background-image: url(~/assets/img/slide-3.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">
                                            Doral, Florida
                                            <br> 78345
                                        </p>
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b">204 </span> Alira
                                            <br> Roan Road One
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Intro Section -->

    <section>
        <!--<div class="container" style="min-width:100%">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/assets/img/carousel1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="item">
                        <img src="~/assets/img/Glass Dining.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="item">
                        <img src="~/assets/img/carousel1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="item">
                        <img src="~/assets/img/Glass Dining.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div>
                        <section class="search-sec">
                            <div class="container">
                                <form action="#" method="post" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-4">
                                                    <select class="form-control search-slt" id="exampleFormControlSelect1">
                                                        <option>Country</option>
                                                        <option>South Africa</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 col-sm-4">
                                                    <select class="form-control search-slt" id="exampleFormControlSelect1">
                                                        <option>Province</option>
                                                        <option>Gauteng</option>
                                                        <option>Free State</option>
                                                        <option>North West</option>
                                                        <option>Limpopo</option>
                                                        <option>Mpumalanga</option>
                                                        <option>Kwazulu Natal</option>
                                                        <option>Eastern Cape</option>
                                                        <option>Northern Cape</option>
                                                        <option>Western Cape</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 col-sm-4">
                                                    <select class="form-control search-slt" id="exampleFormControlSelect1">
                                                        <option>City</option>
                                                        <option>Johannesburg</option>
                                                        <option>Pretoria</option>
                                                        <option>Bloemfontein</option>
                                                        <option>Nelspruit</option>
                                                        <option>Polokwane</option>
                                                        <option>Durban
                                                        <option>
                                                        <option>Cape Town</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 col-sm-4">
                                                    <select class="form-control search-slt" id="exampleFormControlSelect1">
                                                        <option>Property Type</option>
                                                        <option>Residential</option>
                                                        <option>Commercial</option>
                                                        <option>Agricultural</option>
                                                        <option>Investment</option>
                                                        <option>Bank Instruction</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 col-sm-4">
                                                    <select class="form-control search-slt" id="exampleFormControlSelect1">
                                                        <option>Property Status</option>
                                                        <option>For Sale</option>
                                                        <option>On Auction</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 col-sm-4">
                                                    <button type="button" class="btn btn-default wrn-btn">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </section>
                    </div>
                </div>

                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>-->
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="mask flex-center">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="carousel_caption">
                                    <!--<h1></h1>
                                    <h2>Your choice has been approved</h2>
                                    <p>It is a long established fact that a reader will be happy</p>
                                    <a href="#">Learn More</a>-->
                                </div>
                                <div><img src="~/assets/img/white.jpg" class="mx-auto" alt="slide" height="720"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="carousel_caption">
                                    <!--<h1></h1>
                                    <h2>Pixel Event on Digital Design</h2>
                                    <p>It is a long established fact that a reader will be happy</p>
                                    <a href="#">Learn More</a>-->
                                </div>
                                <div><img src="~/assets/img/glass.jpg" class="mx-auto" alt="slide" height="720"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="mask flex-center">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="carousel_caption">
                                    <!--<h1></h1>
                                    <h2>Giver a timeless classic a home</h2>
                                    <p>It is a long established fact that a reader will be happy</p>
                                    <a href="#">Learn More</a>-->
                                </div>
                                <div><img src="~/assets/img/wood.jpg" class="mx-auto" alt="slide" height="720"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Our Services End -->
    <section id="price-drop" class="block">
        @{
            ICollection<Property> PropLys = APILibrary.APIMethods.APIGetALL<ICollection<Property>>("Properties");

            List<Property> DisplyPropLys = new List<Property>();



            <div class="container">
                <header class="section-title">
                    <h2>Upcoming Auctions</h2>
                    <a href="properties-listing.html" class="link-arrow">All Properties</a>
                </header>
            </div>
            <div class="row">
                @foreach (Property prop in PropLys)
                {

                    if (prop.Auction != null)
                    {
                        DisplyPropLys.Add(prop);
                    }


                }

                @{
                    IEnumerable<Property> query = from prop in DisplyPropLys
                                                  orderby prop.Auction.StartTime
                                                  select prop;

                    int count = 0;
                    foreach (Property auc in query)
                    {
                        while (count < 4)
                        {
                            <div class="col-md-3 col-sm-6">
                                <div class="property">
                                    <a href="property-detail.html">
                                        <div class="property-image">
                                            <img alt="" src=@auc.PropertyPhotos.First().PropertyPhotoPath>
                                        </div>
                                        <div class="overlay">
                                            <div class="info">
                                                <div class="tag date">@auc.Auction.StartTime</div>
                                                <h3>@auc.Address</h3>
                                                <figure>@auc.City, @auc.Province</figure>
                                            </div>
                                            <ul class="additional-info">
                                                <li>
                                                    <header>Area:</header>
                                                    <figure>@auc.BuildingArea<sup>2</sup></figure>
                                                </li>
                                                <li>
                                                    <header>Beds:</header>
                                                    <figure>@auc.BedRooms</figure>
                                                </li>
                                                <li>
                                                    <header>Baths:</header>
                                                    <figure>@auc.BathRooms</figure>
                                                </li>
                                                <li>
                                                    <header>Garages:</header>
                                                    <figure>@auc.Garages</figure>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div><!-- /.property -->
                            </div><!-- /.col-md-3 -->
                            count++;
                        }
                    }
                }

            </div>

        }



    </section>



    <aside id="advertising" class="block">
        <div class="container">
            <a href="submit.html" style="text-decoration: none">
                <div class="banner">
                    <div class="wrapper">
                        <span class="title">Want to list your property with us?</span>
                        <span class="submit">Contact Us Now!<i class="fa fa-plus-square"></i></span>
                    </div>
                </div><!-- /.banner-->
            </a>
        </div>
    </aside><!-- /#adveritsing-->
    <!-- /#banner Start -->
    <section id="banner">
        <div class="block has-dark-background background-color-default-darker center text-banner">
            <div class="container">
                <h1 class="no-bottom-margin no-border">Insert Property or Real Estate related qoute here (Maybe even replace this with Jumbotron)</h1>
            </div>
        </div>
    </section>

    <!-- /#banner End -->
    <!-- Jumbotron Start -->
    <!-- Jumbotron End -->
    <section id="new-properties" class="block">
        <div class="container">
            <header class="section-title">
                <h2>Recently Sold Properties</h2>
            </header>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <div class="property-image">
                            <img alt="#" src="~/assets/img/glass.jpg">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag sold">Sold!</div>
                                <h3>2506 B Street</h3>
                                <figure>New Brighton, MN 55112</figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>Area:</header>
                                    <figure>280m<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Beds:</header>
                                    <figure>3</figure>
                                </li>
                                <li>
                                    <header>Baths:</header>
                                    <figure>2</figure>
                                </li>
                                <li>
                                    <header>Garages:</header>
                                    <figure>1</figure>
                                </li>
                            </ul>
                        </div>
                        </a>
                    </div><!-- /.property -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <div class="property-image">
                            <img alt="#" src="~/assets/img/glass.jpg">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag sold">Sold!</div>
                                <h3>3990 Late Avenue</h3>
                                <figure>Kingfisher, OK 73750</figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>Area:</header>
                                    <figure>30m<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Beds:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Baths:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Garages:</header>
                                    <figure>0</figure>
                                </li>
                            </ul>
                        </div>
                        </a>
                    </div><!-- /.property -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <div class="property-image">
                            <img alt="#" src="~/assets/img/glass.jpg">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag sold">Sold!</div>
                                <h3>297 Marie Street</h3>
                                <figure>Towson, MD 21204 </figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>Area:</header>
                                    <figure>240m<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Beds:</header>
                                    <figure>3</figure>
                                </li>
                                <li>
                                    <header>Baths:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Garages:</header>
                                    <figure>1</figure>
                                </li>
                            </ul>
                        </div>
                        </a>
                    </div><!-- /.property -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="property">
                        <div class="property-image">
                            <img alt="#" src="~/assets/img/glass.jpg">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag sold">Sold!</div>
                                <h3>64 Timberbrook Lane</h3>
                                <figure>Denver, CO 80202</figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>Area:</header>
                                    <figure>240m<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Beds:</header>
                                    <figure>3</figure>
                                </li>
                                <li>
                                    <header>Baths:</header>
                                    <figure>1</figure>
                                </li>
                                <li>
                                    <header>Garages:</header>
                                    <figure>1</figure>
                                </li>
                            </ul>
                        </div>
                        </a>
                    </div><!-- /.property -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row-->
        </div><!-- /.container-->
    </section><!-- /#new-properties-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                        <!-- Carousel Slides / Quotes -->
                        <header class="section-title"><h2>Testimonials</h2></header>
                        <div class="carousel-inner text-center">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p><i> Every staff member we spoke to or had contact with, was super helpful and understanding. The day of the Auction, we had some technical problems and the team really went over and above the call of duty to assist us. </i></p>
                                            <small><strong><i>Maria Van Wyk, Buyer</i></strong></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p><i> I've already sent Auction-Prop's contact info to two of my friends, looking to downsize and wondering how to get it done. This is the way!  </i></p>
                                            <small><strong><i>Jim Frein, Seller</i></strong></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p> Edureka has the best online courses! </p>
                                            <small> Someone famous </small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active">
                                <img class="img-responsive " src="~/assets/img/Woman.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="1">
                                <img class="img-responsive" src="~/assets/img/Guy.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="2">
                                <img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                            </li>
                        </ol>
                        <!-- Carousel Buttons Next/Prev -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<section id="testimonials" class="block">
        <div class="container">
            <header class="section-title"><h2>Testimonials</h2></header>
            <div class="owl-carousel testimonials-carousel">
                <blockquote class="testimonial">
                    <figure>
                        <div class="image">
                            <img alt="#" src="~/assets/img/Woman.jpg">
                        </div>
                    </figure>
                    <aside class="cite">
                        <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                        <footer>Natalie Jenkins</footer>
                    </aside>
                </blockquote>
                <blockquote class="testimonial">
                    <figure>
                        <div class="image">
                            <img alt="#" src="~/assets/img/Guy.jpg">
                        </div>
                    </figure>
                    <aside class="cite">
                        <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                        <footer>Martin Schimms</footer>
                    </aside>
                </blockquote>
            </div>
        </div>
    </section>-->
    <!-- /#testimonials -->
    <section id="partners" class="block">
        <div class="container">
            <header class="section-title"><h2>Our Partners</h2></header>
            <div class="logos">
                <div class="logo"><a href="https://www.sahomeloans.com/"><img src="~/assets/img/SA Home Loans.png" width="120" height="100" alt=""></a></div>
                <div class="logo"><a href="https://www.standardbank.co.za/"><img src="~/assets/img/StandardBank.png" width="140" height="140" alt=""></a></div>
                <div class="logo"><a href="https://www.nedbank.co.za/content/nedbank/desktop/gt/en/personal.html"><img src="~/assets/img/NEDBANK.png" width="70" height="70" alt=""></a></div>
                <div class="logo"><a href="https://www.fnb.co.za/"><img src="~/assets/img/FNB.png" width="120" height="80" alt=""></a></div>
                <div class="logo"><a href="https://www.absa.co.za/personal/"><img src="~/assets/img/absa.png" width="80" height="80" alt=""></a></div>
            </div>
        </div><!-- /.container -->
    </section><!-- /#partners -->
    </div>
    <!-- end Page Content -->
    <!--<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>-->

    <!-- Vendor JS Files -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/validate.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/scrollreveal.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Scripts/main.js"></script>

</body>
</html>
